---
import FormattedDate from '../components/FormattedDate.astro'
import { Image } from 'astro:assets'

const { posts } = Astro.props
---

<div class="w-full z-10 flex mb-4 border-b pb-4 gap-1">
  {
    posts.map((post) => (
      <div class="w-1/2 aspect-4/3 relative overflow-hidden">
        <Image
          class="w-full h-full object-cover"
          src={post.data.heroImage}
          alt={post.data.title}
        />

        {/* Gradient overlay for better text readability */}
        <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/20 to-transparent" />

        {/* Text content positioned at bottom */}
        <div class="absolute bg-black/40 bottom-0 left-0 right-0 p-4 pt-2 backdrop-blur-xlf text-white">
          <a
            href={`/post/${post.id}`}
            class="text-lg line-clamp-1 font-medium mb-2 block hover:text-neutral-200 transition-colors"
          >
            {post.data.title}
          </a>
          <div class="text-sm text-neutral-300 mb-2">
            <FormattedDate date={post.data.pubDate} />
          </div>
          <p class="text-sm line-clamp-1 text-neutral-300">
            {post.data.description}
          </p>
        </div>
      </div>
    ))
  }
</div>
